<div id='nav'>
	<%= render 'nav_menu' %>

	<%= render 'sub_tree' %>
</div>

<div id='page_full'>
	</br>
	<%= link_to 'add sub-page', "#{current_uri}/add" %> |
	<%= link_to 'edit page', "#{current_uri}/edit" %>
	

	<h2><%= @page.title %></h2>
	<%= format_content(@page.content) %>
</div>
<div style='clear: both;'></div>


